::-webkit-scrollbar {
  width: 12px; 
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #778061;
}

::-webkit-scrollbar-thumb:active {
  background: #778061;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #90ac74;
  border-radius: 8px;
}

.AboutUs {
  background-image: url("/public/images/ContinentMap.png");
  /* background-size: 1300px 2000px; */
  background-size: 100% 100%; 
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  overflow-y: auto;
  min-height: 200vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}


.About-content {
    margin-bottom:auto;
    color:black;
    z-index:99999;
} 


.text-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px;
  min-width:70vw;
  background-color:rgba(255, 255, 255, 0.558);
  margin: 50px 0 50px;
}

.about-text {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: darkolivegreen 1px 0 10px;
}
  
.left-text {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 100px;
  order: 1; /* Start with left-aligned paragraphs */
}
  
.right-text {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 100px;
  order: 2; /* Start with right-aligned paragraphs */
}

.no-margin {
  margin-bottom: 20px;
}
  
/* Alternate alignment for paragraphs */
.left-text:nth-of-type(odd),
.right-text:nth-of-type(even) {
  order: 2; /* Right-aligned paragraphs */
}
  
.right-text:nth-of-type(odd),
.left-text:nth-of-type(even) {
  order: 1; /* Left-aligned paragraphs */
}

.chat{
  color: orange;
  margin-top:auto;
}

.chat-container {
  height: 70vh; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.text-size {
  font-size: 14px;
}

.input-form {
  width: 100%;
}

.destination-input, .user-input {
  padding: 12px 20px;
  margin: 15px 0;
  box-sizing: border-box;
}

.user-input {
  padding: 12px 20px;
  margin-top: 15px;
  margin-bottom: -8px;
  box-sizing: border-box;
}

.destination-input:focus, .user-input:focus {
  outline: none;
  border: 2px solid orange !important;
  box-shadow: 0 0 10px orange !important;
}
 
.datepicker-container {
  display: inline-block; 
}

.datepicker {
  width: 79%;
  padding: 12px 20px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.datepicker:focus {
  outline: none;
  border: 2px solid orange !important;
  box-shadow: 0 0 10px orange !important;
}

.submitbutton {
  background: white;
  color: black;
  border: none;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 2px;
  margin-bottom: 30px;
  transition: all .25s ease-out;
}

.submitbutton:hover {
  background-color: #45a049; /* Darker green when hovered */
  border: 1px solid rgb(55, 132, 59);
  cursor: pointer;
  color: white;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.appear{
  opacity: 1;
}
