.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

.App-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/public/images/greece1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
}

.aboutusbutton{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: white;
  color: black;
  border: 2px solid transparent; /* Set initial border */
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 6px;

}
.aboutusbutton:hover{
  background-color: white; 
  color: rgba(0, 0, 0, 0.596);
  border-color:rgba(0, 0, 0, 0.596) ;
  box-shadow: 0 0 20px white; /* Add box shadow for additional glow effect */
  cursor: pointer;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out, background-color .5s ease-in-out, border-color .5s ease-in-out;


}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.appear{
  opacity: 1;
}